<!DOCTYPE html>
<html>

  <head>
    <title>CookApp</title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
   <%= yield %>
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
